.containerItDsPrgrm {
  text-align: center;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImgItDs {
  width: 60%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.containerItDsPrgrm h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow:
    0 0 0px #fff,
    0 0 10px #fff,
    0 0 10px #0073e6,
    0 0 20px #182e4a,
    0 0 20px #182e4a,
    0 0 30px #182e4a,
    0 0 30px #182e4a;
  background: linear-gradient(
    90deg,
    #fff 35%,
    rgba(3, 163, 196, 1) 49%,
    #fff 62%
  );
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

.progressBarItDs {
  height: 10px;
  max-width: 1800px;
  width: 82%;
  background-color: #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
  position: relative;
}

.progressItDs {
  height: 100%;
  background-color: #e67e22;
  transition: width 0.3s ease;
}

.cardsItDs {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cardItDs {
  background-color: #377dc3;
  border-radius: 5px;
  padding: 20px;
  width: 280px;
  transition: transform 0.3s ease;
}

.cardItDs:hover {
  transform: translateY(-10px);
  background-color: #2c5f8e;
}

.cardsItDs h3 {
  color: #ecf0f1;
  font-size: 1.5rem;
}

.cardsItDs p {
  color: #f4f4f4;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .containerItDsPrgrm h2 {
    font-size: 2rem;
    letter-spacing: 6px;
  }

  .progressBarItDs {
    width: 90%;
  }

  .cardsItDs {
    gap: 20px;
  }

  .cardItDs {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .containerItDsPrgrm h2 {
    font-size: 1.8rem;
    letter-spacing: 4px;
  }

  .cardItDs {
    width: 320px;
    padding: 15px;
  }

  .cardsItDs {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .containerItDsPrgrm {
    padding: 0;
  }

  .containerItDsPrgrm h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .cardsItDs h3 {
    font-size: 1rem;
  }

  .cardsItDs {
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cardItDs {
    width: 45%;
    padding: 10px;
  }

  .cardsItDs p {
    font-size: 0.8rem;
  }
}
