.achievements {
  text-align: center;
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.achievements h2 {
  font-size: 2.5rem;
  font-weight: 700;
letter-spacing: 4px;
text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 10px #0073e6, 0 0 20px #182e4a,
  0 0 20px #182e4a, 0 0 30px #182e4a, 0 0 30px #182e4a;
background: linear-gradient(
  90deg,
  #fff 35%,
  rgba(3, 163, 196, 1) 49%,
  #fff 62%
);
-webkit-background-clip: text;
color: transparent;
text-align: center;
}

.titleUnderline {
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #a76b2e, #f18436);
  margin: 15px auto 25px;
  border-radius: 2px;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .achievements h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 576px) {
  .achievements h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .achievements h2 {
    font-size: 1.8rem;
  }
}